.v-text-field .v-input__details {
    padding-inline-start: 0;
}

.v-input__details {
    font-size: 0;
}

.v-field {
    border-radius: 0;
}

.v-theme--light {
    --v-border-color: 228, 228, 228 !important;
}

.v-data-table__tr {
    --v-border-opacity: 1;
    color: #081419 !important
}

.v-data-table__thead {
    --v-border-opacity: 1;
}

.v-data-table-footer {
    margin-top: 20px !important;
}

.appBar {
    border-bottom: 1px solid #D9DEE4 !important;
}

.v-field__input {
    font-size: .85rem;
}

.action-btn {
    align-self: center;
    border: 0.2px solid #E4E4E4 !important;
    height: 1.5rem !important;
}
.v-field.v-field--appended {
    --v-field-padding-end: 0px;
}